nav,
main,
footer {
  text-align: center;
  margin: 0px auto;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #465866;
}
h1 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 3.25em;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
div:first-letter {
  text-transform: capitalize;
}
.weather-app {
  max-width: 1280px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 20px;
}
.description {
  margin-bottom: 20px;
}
.weather-temperature {
  font-size: 2em;
  font-weight: 700;
  padding: 60px 0;
  text-align: right;
  color: yellow;
}
.main-icon {
  width: 200px;
  display: block;
  margin: 0 auto;
}
/* Lists */
.date-time {
  color: green;
}
.temp-parameters {
  text-align: left;
  color: blue;
  padding: 60px 0;
}
.weather-forecast {
  margin-bottom: 20px;
  color: red;
}
/* celsius and fahrenheit */
.active {
  color: #465866;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
/* Form */
.header {
  width: 100%;
  justify-content: center;
}
form {
  margin-top: 0;
  display: block;
}
button {
  left: 35%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.form-control {
  max-width: 700px;
  height: 50px;
  border-radius: 50px;
  border: 0.5px solid green;
}
.fas {
  color: red;
  font-size: 1rem;
}
/* weather forecast row */
.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
.weather-forecast-temperature {
  text-align: center;
  height: auto;
  white-space: nowrap;
}
